[
    {
        "name": "ENVIRONMENT_NAME",
        "value": "{{ environment_name }}",
        "type": "PLAINTEXT"
    },
    {
        "name": "ACTION_TYPE",
        "value": "plan",
        "type": "PLAINTEXT"
    },
    {
        "name": "ARTEFACTS_BUCKET",
        "value": "{{ s3buckets.common.artefacts }}",
        "type": "PLAINTEXT"
    },
    {
        "name": "PACKAGE_NAME",
        "value": "alfresco-terraform.tar",
        "type": "PLAINTEXT"
    }
]
