[
    {
        "name": "ENVIRONMENT_NAME",
        "value": "{{ environment_name }}",
        "type": "PLAINTEXT"
    },
    {
        "name": "SSM_TASKS_PREFIX",
        "value": "{{ ssm_tasks_prefix }}",
        "type": "PLAINTEXT"
    },
    {
        "name": "ARTEFACTS_BUCKET",
        "value": "{{ s3buckets.common.artefacts }}",
        "type": "PLAINTEXT"
    }
]
