[
    {
        "name": "ENVIRONMENT_NAME",
        "value": "{{ environment_name }}",
        "type": "PLAINTEXT"
    },
    {
        "name": "Purge",
        "value": "True",
        "type": "PLAINTEXT"
    }
]
