{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "s3:Get*",
                "s3:List*"
                
            ],
            "Resource": [
                "arn:aws:s3:::tf-eu-west-2-hmpps-eng-dev-config-s3bucket",
                "arn:aws:s3:::tf-eu-west-2-hmpps-eng-dev-config-s3bucket/*",
                "arn:aws:s3:::hmpps-eng-dev-alfresco-rpms",
                "arn:aws:s3:::hmpps-eng-dev-alfresco-rpms/*"
            ]
        }
    ]
}
