[
    {
        "name": "AWS_ACCOUNT_ID",
        "value": "{{ account_id }}",
        "type": "PLAINTEXT"
    },
    {
        "name": "VPC_SUBNET_ID",
        "value": "subnet-00982fba28419ac5f",
        "type": "PLAINTEXT"
    }
]
